{% layout "layout.liquid" %} {% block content %}
<div>
    <article>

       
        <section class="newReviewSection">
            <h2 class="showPtitle"> {{ product.title}} </h2>
        <!-- review button -->
        <form id="addReviewG" action="/products/{{ product._id }}/reviews/{{ review._id }}/edit?_method=PUT"
            method="POST">

            <label>User : {{ review.username }}</label><br>

            <label>Review:</label><br>
            <textarea class = "reviewInput" name="content" placeholder={{ review.content }}></textarea><br>
            <label>Rating:</label><br>
            <select class = "reviewInput" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
            </select>
            <br>
            <!-- <input type="text" value = "review" placeholder="Add your review"> -->
            <input class = "addReviewB"  type="submit" value="Edit" />

        </form>


        <!-- Delete my review -->
        <form action="/products/{{ product._id }}/reviews/{{ review._id }}?_method=DELETE" method="POST">
            <input class = "addReviewB" type="submit" value="Delete" />
        </form>


       </section>


    </article>
</div>
{% endblock %}