{% layout "layout.liquid" %} {% block content %}
<div>
  <div>
    {% if  req.session.loggedIn == false %}
    <a href="/users/signup"><button>Signup</button></a>
    <a href="/users/login"><button>Login</button></a>
    {% else %}
    <a href="/user/logout"><button>Logout</button></a>
    {% endif%}

  </div>

  <!-- product links -->
  <div class ="catalogue">
  {% for product in products %}
  
    <div class="products">
   
      <a href="/products/{{product._id}}">
        
          <img class="productImage"src="{{product.image}}" alt="{{product.title}} image" class="image-link" width="150px" height="150px">
        
          <p class = "productTitle">{{product.title}} </p>
         
      </a>

      <h4 class ="productPrice">Price: {{product.price}} </h4>

      <!-- <h4>
        {% if product.qty == 0 %}
        SOLD OUT
        {% else %}
        Quantity: {{product.qty}}
        {% endif %}
      </h4> -->
    
    </div>
    
  </article>
  {% endfor %}
</div>
</div>
{% endblock %}
