{% layout "layout.liquid" %} {% block content %}
      <div>
        <article>


          <img src="{{ product.image }}" alt="{{ product.title }}">
          <h2> {{ product.title }} </h2>
          <h4> 
            Description: <a href=" {{ product.description }}">link to Amazon website</a> <br>
            Price:   {{ product.price }}<br>
            rating: {{ product.rating }}
          </h4>
            

          
<!--           
          <a href="/products/{{ product._id }}/edit"><button>Edit</button></a> 

          
        <form action="/products/{{ product._id }}?_method=DELETE" method="POST">
          
          <input type="submit" value="Delete" />
          
        </form>
        <form action="/products/{{ product._id }}/buy?_method=PUT" method="POST">

          
          <input type="submit" value="Buy" /> -->

        </form>
          
          <a href="/products/"><button>Back to Main</button></a>
        </article>
      </div>
{% endblock %}
