{% layout "layout.liquid" %} {% block content %}
<div>
  <article>
    <div class = "showProduct">
    <img class="showImage"src="{{ product.image }}" alt="{{ product.title }}">
    <h2 class="showPtitle"> {{ product.title }} </h2>
    <h4>
        Description: <a href=" {{ product.description }}">link to Amazon website</a> <br>
        Price: {{ product.price }}<br>
        rating: {{ product.rating }}<br>
        ratings_total: {{ product.ratings_total }}<br>
      </h4> 
      </div>
<div class = "reviewBody" >
    <table class ="reviewTable">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Review</th>
          <th>Rating</th>
          <th>Edit</th>
        </tr>
      </thead>
      {% if product.reviews.length == 0 %}
      <tr>
        <td>No reivew yet.</td>
        <td>No reivew yet.</td>
        <td>No reivew yet.</td>
        <td>No reivew yet.</td>
        <td>No reivew yet.</td>
      </tr>
      {% else %}
      {% for review in product.reviews %}
      <tbody>
        <tr>
          <td>

            {{ review.createdAt.toLocaleDateString}}

          </td>
          <td>{{ review.username }}</td>
          <td>{{ review.content }}</td>
          <td>{{ review.rating }}</td>
          <td><a href="/products/{{ product._id}}/reviews/{{review._id}}/edit"><button>Edit</button></a></td>
        </tr>
      </tbody>
      {% endfor %}
      {% endif %}
    </table>

 

   




    <!-- <a href="/products/{{ product._id }}/edit"><button>Edit</button></a> 

          
        <form action="/products/{{ product._id }}?_method=DELETE" method="POST">
          
          <input type="submit" value="Delete" />
          
        </form> -->

    <!-- review button -->
    <form id="addReview" action="/products/{{ product._id }}/reviews" method="POST">
      <label>Review:</label><br>
      {% if logged == true %}
      <textarea class = "reviewText" name="content" placeholder="Leave your review here"></textarea>
      {%else%}
      <textarea class = "reviewText" name="content" placeholder="Please log-In to leave your review."></textarea>
      {% endif%}
      <br>
      <label>Rating:</label><br>
      <select name="rating" placeholder = "rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <br>
      <input class = "addReviewB" id="addReviewB" type="submit" value="Add " />
    </form>



    


    <form id="addReview" action="/products/{{ product._id }}/cart" method="POST">
    <!-- <a href="/products/{{ product._id }}/cartpage"><button>add to cart</button></a> -->
    <input id="addProduct" type="submit" value="Buy" />
    </form>
    <a href="/products/"><button>Back to Main</button></a>
  </article>


</div>


</div>
{% endblock %}